{% extends 'AppProyecto/home.html' %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="container">
        <h3 class="card-title mb-3">Juan Pablo Manali</h3>
        <p class="card-text">Sigueme en:</p>
        <a href="https://github.com/Manalijuan"><i class="bi bi-github text-dark mx-1"></i></a>
        <a href="https://www.linkedin.com/in/juan-pablo-manali-9045ab179/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
        </div>
      
        <p>Trabajo en el área de Logística desde hace varios años. A lo largo del tiempo, he adquirido diversos conocimientos relacionados con esta área, tanto a través de mi experiencia laboral como mediante la participación en foros y canales de información.</p>
        <p>Recientemente, decidí ampliar mis habilidades en el campo de la tecnología y la programación. Es por eso que me he inscrito en un curso de Python en CoderHouse. Estoy emocionado por poder desarrollar nuevos conocimientos y habilidades que me permitan aplicar la programación en el ámbito de la Logística y más allá.</p>
        <p>¡Estoy ansioso por aprender y seguir creciendo en este apasionante campo de la programacion!</p>
    </div>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}